
body{
	margin:0;
	padding:0;
	font-family: segoe-ui_light, segoe UI Light, SegoeWP, Helvetica Neue, Helvetica, sans-serif; 
	color: #526573;
}
header{
	padding: 6px 0;
	background-color: #2ca6b1;
}


